body {
  background-color: #b0d9d5;
}
.collection > li {
  text-align: left;
}
.erro-device {
  display: none;
}
.nav-extended {
  background-color: #0b8c75;
}
#search {
  background-color: #0b8c75;

}
a {
  color: #fff;
}
td{
  overflow:visible;
}
#lista-usuarios{
  overflow: scroll;
}
/* Desativa o layout para telas maiores que 540 px */
@media only screen and (min-width: 540px) {
  body {
    background-color: #fff;
  }
  .erro-device {
    display: block;
    text-align: center;
  }
  #erro-img {
    width: auto;
    margin-top: 10vh;
    max-height: 80vh;
  }
  main,
  footer,
  nav {
    display: none;
  }
}