body {
  background-color: #b0d9d5;
}
.collection > li {
  text-align: left;
}
.modal-content {
  border-radius: 30px;
}
.erro-device {
  display: none;
}
.nav-extended {
  background-color: #0b8c75;
}
#search {
  background-color: #0b8c75;
}
a {
  color: #fff;
}

/* Essa propriedade vai desativar o layout para devices com tela de largura > 540*/

@media only screen and (min-width: 540px) {
  body {
    background-color: #fff;
  }
  .erro-device {
    display: block;
    text-align: center;
  }
  #erro-img {

    width: auto;
    margin-top: 10vh;
    max-height: 80vh;
  }
  main,
  footer,
  nav {
    display: none;
  }
}