.collection > li{
    text-align: left;
}
.modal-content{
    border-radius: 30px;
}
.erro-device{
    display: none;
}
@media only screen and (min-width: 540px) {
  .erro-device{
    display: inline;    
  }
  main,
  footer, nav {
    display: none;
  }
}

a {
  color: #fff;
}
