main{
    min-height: 70vh;
    background-color: #F2DDB6;
}

nav, .page-footer{
    background-color: #a87252;    
}

.collection{
    border-radius: 5px;
    border: none;
    text-align: left;
}
a{
    color: #fff;
}

@media screen and ( max-width:400 ) {
    body{
        background-color: black;
    }
}