<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/images/open-book.png" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <title>Início</title>
</head>

<body>
  <!--MENU-->
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content">
      <!-- Aqui é onde chamamos as páginas do site.-->
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="tabs-content" href="#pagina-livros">Livros</a></li>
        <li class="tab"><a class="tabs-content" href="#pagina-usuarios">Usuários</a></li>
        <li class="tab"> <a class="tabs-content" href="#pagina-emprestimos">Empréstimos</a> </li>
      </ul>
    </div>
  </nav>

  <!-- Dentro da MAIN, fica todo o conteúdo que é visível na nossa página HTML.-->
  <main>
    <!-- Cada ID aqui, representa uma das páginas que podem ser alteradas e que são chamadas na classe TABS na linha 31 a linha 33-->
    <div id="pagina-livros" class="col s12">
      <div class="container center">
        <div id="" style="padding-top: 5vh">
          <div class="row">
            <div class="livros col s10 offset-s1 m8 offset-m2 l6 offset-l3">
              <ul class="collection with-header">
                <nav>
                  <div class="nav-wrapper">
                    <form>
                      <div class="input-field">
                        <input id="search" type="search" />
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                      </div>
                    </form>
                  </div>
                </nav>
                <li class="collection-header grey-text" onclick="listar_livros()">
                  <h4>Livros</h4>
                </li>
                <div id="lista-livros"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="pagina-usuarios" class="col s12">
      <div class="container center" style="padding-top: 5vh">
        <div class="row">
          <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
            <ul class="collection with-header">
              <nav>
                <div class="nav-wrapper">
                  <form id="form-usuario">
                    <div class="input-field">
                      <input id="search" type="search" />
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </div>
              </nav>
              <li class="collection-header grey-text" onclick="lista_usuarios()">
                <h4>Usuários</h4>
              </li>
              <div id="lista-usuarios"></div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="pagina-emprestimos" class="col s12">
      <div class="container center">
        <div id="" style="padding-top: 5vh">
          <div class="row">
            <div class="livros col s10 offset-s1 m8 offset-m2 l6 offset-l3">
              <ul class="collection with-header">
                <nav>
                  <div class="nav-wrapper">
                    <form id="form-usuario">
                      <div class="input-field">
                        <input id="search" type="search" />
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                      </div>
                    </form>
                  </div>
                </nav>
                <li class="collection-header grey-text" onclick="listarEmprestimos()">
                  <h4>Empréstimos</h4>
                </li>
                <div id="lista-emprestimos"></div>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Aqui ficam os botões que chamam os formulários de cadastro para as classes livro, usuário e empréstimo. Ele é o botão verde flutuante no fim da página-->

    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large"><i class="large material-icons">mode_edit</i></a>
      <ul>
        <li><a class="btn-floating modal-trigger" href="#formulario-livro"><i class="material-icons">book</i></a></li>
        <li><a class="btn-floating modal-trigger" href="#formulario-usuario"><i class="material-icons">person</i></a>
        </li>
        <li> <a class="btn-floating modal-trigger" href="#formulario-novo-emprestimo"><i
              class="material-icons">perm_contact_calendar</i></a> </li>
      </ul>
    </div>
  </main>

  <div class="erro-device container">
    <img id="erro-img" src="assets/images/humaaans-sitting-bg.png" width="100%" />
  </div>

  <!-- MODAIS -->
  <div class="container center">

    <!-- LIVROS-->
    <!-- Cadastrar -->
    <div id="formulario-livro" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Livros</h4>
          <p class="grey-text left-align">
            Insira as informações para realizar um novo cadastro de livro.
          </p>
        </div>

        <form class="">
          <div class="row">
            <div class="input-field col s12">
              <input id="titulo" type="text" class="validate" min="3" max="30" required />
              <label for="titulo">Título</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="autor" type="text" class="validate" min="3" max="30" required />
              <label for="autor">Autor</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="data-lancamento" placeholder="Lançamanto" type="text" class="datepicker" required />
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="estoque" type="number" class="validate" min="0" max="10" required />
              <label for="estoque">Quantidade em estoque</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a onclick="cadastrar_livro()" class="modal-close waves-effect waves-green btn-flat">Cadastrar</a>
      </div>
    </div>
    <!-- Atualizar, sem label -->
    <div id="atualiza-livro" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Editar usuário</h4>
        </div>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <input id="editar-titulo" type="text" class="validate" min="3" max="30" required />
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="editar-autor" type="text" class="validate" min="3" max="30" required />
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="editar-data-lancamento" placeholder="Lançamanto" type="text" class="datepicker" required />
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="editar-estoque" type="number" class="validate" min="0" max="10" required />
            </div>
          </div>
        </form>
      </div>
      <div id="btn-atualizar-livro"></div>
    </div>
    <!-- Visualizar -->
    <div id="modal-livro" class="modal">
      <div id="visualizar-livro"></div>
    </div>

    <!-- USUÁRIOS-->
    <!-- Cadastrar -->
    <div id="formulario-usuario" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Usuário</h4>
          <p class="grey-text left-align">
            Insira as informações para realizar um novo cadastro de usuário.
          </p>
        </div>
        <form id="formulario-usuario">
          <div class="row">
            <div class="input-field col s12">
              <input id="nome" type="text" class="validate" min="3" max="30" required />
              <label for="nome">Nome</label>
            </div>
            <div class="input-field col s12">
              <input id="sobrenome" type="text" class="validate" min="3" max="30" required />
              <label for="sobrenome">Sobrenome</label>
            </div>
            <div class="input-field col s12">
              <input id="cpf" type="text" class="validate" min="3" max="30" required />
              <label for="cpf">CPF</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" min="3" max="30" required />
              <label for="email">E-mail</label>
            </div>
            <div class="input-field col s12">
              <input id="telefone" type="tel" class="validate" min="10" max="30" required />
              <label for="telefone">Telefone</label>
            </div>
            <div class="input-field col s12">
              <input placeholder="Data de nascimento" type="text" id="nascimento" class="datepicker" required />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a onclick="cadastrar_usuario()" class="modal-close waves-effect waves-green btn-flat">Cadastrar</a>
      </div>
    </div>
    <!-- Atualizar, sem label -->
    <div id="atualiza-usuario" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Editar usuário</h4>
        </div>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <input id="editar-nome" type="text" class="validate" min="3" max="30" required />
            </div>
            <div class="input-field col s12">
              <input id="editar-sobrenome" type="text" class="validate" min="3" max="30" required />
            </div>
            <div class="input-field col s12">
              <input id="editar-cpf" type="text" class="validate" min="3" max="30" required />
            </div>
            <div class="input-field col s12">
              <input id="editar-email" type="email" class="validate" min="3" max="30" required />
            </div>
            <div class="input-field col s12">
              <input id="editar-telefone" type="tel" class="validate" min="10" max="30" required />
            </div>
            <div class="input-field col s12">
              <input placeholder="Data de nascimento" type="text" id="editar-nascimento" class="datepicker" required />
            </div>
          </div>
        </form>
      </div>
      <div id="btn-atualizar-usuario"></div>
    </div>
    <!-- Visualizar-->
    <div id="modal-usuario" class="modal">
      <div id="visualizar-perfil"></div>
    </div>

    <!--  EMPRÉSTIMO -->
    <!-- Cadastrar -->
    <div id="formulario-novo-emprestimo" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Empréstimo</h4>
          <p class="grey-text left-align">
            Insira as informações para realizar um novo cadastro de
            empréstimo.
          </p>
        </div>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <select id="seleciona-livro" class="browser-default">
                <option selected disabled>Livros disponíveis</option>
              </select>
            </div>
            <div class="input-field col s12">
              <select id="seleciona-usuario" class="browser-default">
                <option selected disabled>Usuários cadastrados</option>
              </select>
            </div>
            <div class="input-field col s12">
              <input id="novo-emprestimo-periodo" type="text" class="validate" />
              <label for="novo-emprestimo-periodo">Período em Dias</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a onclick="cadastrarEmprestimo()" class="modal-close waves-effect waves-green btn-flat">Cadastrar</a>
      </div>
    </div>
    <!-- Atualizar, sem label -->
    <div id="atualiza-emprestimo" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Editar empréstimo</h4>
        </div>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <select id="seleciona-livro" class="browser-default">
                <option selected disabled>Livros disponíveis</option>
              </select>
            </div>
            <div class="input-field col s12">
              <select id="seleciona-usuario" class="browser-default">
                <option selected disabled>Usuários cadastrados</option>
              </select>
            </div>
            <div class="input-field col s12">
              <input id="novo-emprestimo-periodo" type="text" class="validate" />
              <label for="novo-emprestimo-periodo">Período em Dias</label>
            </div>
          </div>
        </form>
      </div>
      <div id="btn-atualizar-usuario"></div>
    </div>
    <!-- Visualizar -->
    <div id="modal-emprestimo" class="modal">
      <div id="visualizar-emprestimo"></div>
    </div>
    <!-- visualizar do Bruno-->
    <div id="formulario-emprestimo" class="modal">
      <div class="modal-content">
        <div class="row" style="padding-top: 1vh">
          <h4 class="grey-text left-align">Empréstimo</h4>
        </div>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <input id="emprestimo-id" type="text" class="validate" disabled />
              <label for="emprestimo-id">Identificador do Empréstimo</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-livro" type="text" class="validate" disabled />
              <label for="emprestimo-livro">Livro</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-usuario" type="text" class="validate" disabled />
              <label for="emprestimo-usuario">Usuário</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-inicio" type="text" class="validate" disabled />
              <label for="emprestimo-inicio">Início</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-devolucao" type="text" class="validate" disabled />
              <label for="emprestimo-devolucao">Devolução</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-status" type="text" class="validate" disabled />
              <label for="emprestimo-status">Status</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-atrasos" type="text" class="validate" disabled />
              <label for="emprestimo-atrasos">Atrasos</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-custo" type="text" class="validate" disabled />
              <label for="emprestimo-custo">Custo</label>
            </div>
            <div class="input-field col s12">
              <input id="emprestimo-estender" type="text" class="validate" />
              <label for="emprestimo-estender">Estender em Dias</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a onclick="alterarEmprestimo()" class="modal-close waves-effect waves-green btn-flat">Alterar</a>
      </div>
    </div>


  </div>

  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/usuario.js"></script>
  <script src="assets/js/emprestimo.js"></script>
  <script src="assets/js/livro.js"></script>
</body>

</html>